
.app{
  width: 100%;
  height: 100%;
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
  padding: 2rem;
  text-transform: capitalize;
}


.coin-search {
  /* border: 2px red solid; */
  width: 40%;
  height: 20vh;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.coin-text {
  font-size: 18px;
}
.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #3aafa9;

  color: black;
}

.coin-input::placeholder {
  color: black;
}
